/* Write your CSS here */
.list {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  margin-bottom: 20px;
}

.img-tumbline {
  height: 200px;
  margin-bottom: 0px;
}

.name {
  font-family: Roboto;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 0px;
}

.location {
  font-family: Roboto;
  font-size: 15px;
  color: #ffffff;
}

.img-border {
  border: 2px solid #2dd4bf;
}

.button-2 {
  background-color: transparent;
  border-width: 0px;
}
